.header__body, .header__logo, .header__menu, .category__sections, .about__body, .staffSwipper__wrapper, .footer__body, .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#598349), to(#838149));
  background: linear-gradient(90deg, #598349 0%, #838149 100%);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #413E3E;
}

body::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 10px;
}

.wrapper {
  width: 100%;
}

.container {
  width: 950px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#598349), to(#838149));
  background: linear-gradient(90deg, #598349 0%, #838149 100%);
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0px;
}

.header__body {
  width: 100%;
  height: 80px;
  font-size: 16px;
}

.header__logo {
  width: 110px;
}

.header__logo img {
  width: 20px;
}

.header__logo span {
  color: white;
  font-weight: 500;
}

.header__menu {
  width: 51%;
}

.header__menu-link {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__menu-link:hover {
  color: #DAD8D7;
}

.header__menu-link_circle {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 30px;
}

.main {
  width: 100%;
}

.slider {
  width: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.slider .ghostsSwiper {
  width: 100%;
}

.slider .ghostsSwiper-slide {
  width: 100%;
  height: 620px;
}

.slider .ghostsSwiper-slide__body {
  width: 100%;
  height: 530px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
}

.slider .ghostsSwiper-slide__picture-container {
  width: 55%;
}

.slider .ghostsSwiper-slide__picture-container div {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 50px;
}

.slider .ghostsSwiper-slide__picture-container div img {
  margin-left: 15px;
}

.slider .ghostsSwiper-slide__picture {
  width: 75%;
  margin-bottom: 30px;
}

.slider .ghostsSwiper-slide__picture-text {
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

.slider .ghostsSwiper-slide__picture-text span {
  font-weight: 400;
  color: #DAD8D7;
}

.slider .ghostsSwiper-slide__text-container {
  width: 50%;
}

.slider .ghostsSwiper-slide__text-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.slider .ghostsSwiper-slide__subtitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.slider .ghostsSwiper-slide__headline {
  font-size: 64px;
  font-weight: 900;
  margin-top: 30px;
}

.slider .ghostsSwiper-slide__text {
  font-size: 16px;
  font-weight: 300;
  color: #DAD8D7;
  line-height: 25px;
  margin-top: 25px;
}

.slider .ghostsSwiper-slide__btn {
  width: 135px;
  height: 60px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: white;
  background: #F4511F;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider .ghostsSwiper-slide__btn:hover {
  background: white;
  color: #F4511F;
}

.slider .ghostsSwiper-slide__link {
  font-size: 16px;
  color: white;
}

.slider .ghostsSwiper-slide__link img {
  width: 14px;
  margin-left: 5px;
  margin-top: 2px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.category {
  width: 100%;
}

.category__body {
  width: 100%;
  margin-top: 115px;
}

.category__headline {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 50px;
}

.category__sections {
  width: 100%;
}

.category__section {
  width: 20%;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.category__section:hover .category__picture {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.category__picture {
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.category__monster-name {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
}

.category__monster-description {
  font-size: 16px;
  color: #DAD8D7;
  line-height: 25px;
}

.about {
  width: 100%;
}

.about__body {
  width: 100%;
  margin-top: 115px;
}

.about__section {
  width: 40%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about__headline {
  font-size: 36px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  margin-bottom: 48px;
}

.about__text {
  font-size: 16px;
  color: #DAD8D7;
  line-height: 25px;
  margin-bottom: 32px;
}

.about__btn {
  width: 135px;
  height: 60px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: white;
  background: #F4511F;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.about__btn:hover {
  background: white;
  color: #F4511F;
}

.about__picture {
  width: 40%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.trick-or-treat {
  width: 100%;
}

.trick-or-treat__body {
  width: 100%;
  margin-top: 115px;
}

.trick-or-treat__headline {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.trick-or-treat__sections {
  width: 100%;
  margin-top: 70px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trick-or-treat__section {
  width: 210px;
  height: 250px;
  text-align: center;
  background: linear-gradient(136deg, #4e7240 0%, #727140 100%);
  padding-top: 25px;
  border-radius: 30px;
  margin-bottom: 45px;
  overflow: hidden;
  position: relative;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.trick-or-treat__section:hover .trick-or-treat__picture {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.trick-or-treat__section:hover .btn-shopping-cart {
  bottom: 0;
  right: 0;
}

.trick-or-treat__picture {
  width: 110px;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.product-name {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-category {
  font-size: 13px;
  color: #DAD8D7;
  margin-bottom: 15px;
}

.product-price {
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.btn-shopping-cart {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  color: white;
  background: #F4511F;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  bottom: 0;
  right: -40px;
}

.btn-shopping-cart img {
  width: 50%;
  margin-left: 5px;
  margin-top: 7px;
}

.discount {
  width: 100%;
}

.discount__body {
  width: 100%;
  background: linear-gradient(136deg, #4e7240 0%, #727140 100%);
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  border-radius: 50px;
  margin-bottom: 110px;
}

.discount__picture {
  width: 35%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.discount__article {
  width: 30%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.discount__headline {
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  margin-top: 30px;
}

.discount__btn {
  width: 135px;
  height: 60px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: white;
  background: #F4511F;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.discount__btn:hover {
  background: white;
  color: #F4511F;
}

.slider-staff {
  width: 100%;
}

.slider-staff__headline {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.staffSwipper {
  width: 100%;
}

.staffSwipper__wrapper {
  width: 100%;
}

.staffSwipper-slide {
  width: 310px;
  height: 330px;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(136deg, #4e7240 0%, #727140 100%);
  border-radius: 20px;
  overflow: hidden;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.staffSwipper-slide:hover .btn-shopping-cart {
  bottom: 0;
  right: 0;
}

.staffSwipper-slide:hover .staffSwipper-slide__picture {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.staffSwipper-slide__body {
  width: 100%;
}

.staffSwipper-slide__body span {
  font-size: 13px;
  color: #F4511F;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}

.staffSwipper-slide__new {
  width: 50px;
  height: 30px;
  background: #F4511F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
}

.staffSwipper-slide__picture {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.newsletter {
  width: 100%;
}

.newsletter__body {
  width: 100%;
  margin-top: 130px;
  text-align: center;
}

.newsletter__headline {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.newsletter__text {
  font-size: 16px;
  color: #DAD8D7;
}

.newsletter__form {
  width: 500px;
  height: 90px;
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: linear-gradient(136deg, #4e7240 0%, #727140 100%);
}

.newsletter__input {
  background: transparent;
  color: white;
}

.newsletter__input::-webkit-input-placeholder {
  color: #DAD8D7;
}

.newsletter__input:-ms-input-placeholder {
  color: #DAD8D7;
}

.newsletter__input::-ms-input-placeholder {
  color: #DAD8D7;
}

.newsletter__input::placeholder {
  color: #DAD8D7;
}

.newsletter__btn {
  width: 135px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: white;
  background: #F4511F;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.newsletter__btn:hover {
  background: white;
  color: #F4511F;
}

.footer {
  width: 100%;
  height: 305px;
  position: relative;
}

.footer__body {
  width: 100%;
  margin-top: 130px;
}

.footer__info {
  width: 25%;
}

.footer__logo {
  width: 110px;
}

.footer__logo img {
  width: 20px;
}

.footer__logo span {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.footer__text {
  font-size: 16px;
  color: #DAD8D7;
  line-height: 20px;
  margin-top: 15px;
}

.footer__menu-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer__social-link {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: linear-gradient(136deg, #4e7240 0%, #727140 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.footer__social-link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#598349), to(#838149));
  background: linear-gradient(90deg, #598349 0%, #838149 100%);
}

.footer__social-link img {
  width: 60%;
}

.footer__section {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.footer__link {
  color: #DAD8D7;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 10px;
}

.footer__ghost-1 {
  width: 180px;
  left: -40px;
}

.footer__ghost-2 {
  width: 120px;
  right: -30px;
}

.footer__ghost-1, .footer__ghost-2 {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__ghost-1:hover, .footer__ghost-2:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
